<template>
    <div class="cd" >
    <el-card class="box-card"  :body-style="{padding:'10px'}" v-for="item in arr">
        <div @click="mes()">
        <h2>{{item.title}}</h2>
        <div class="mes">
            <i class="el-icon-view"></i>&nbsp;
            <span>浏览量:{{item.customCount}}</span>
            <span class="push-time">发布时间:{{item.times}}</span>
        </div>
        <p>
            {{item.msg}}
        </p>
        </div>
    </el-card>
    </div>
</template>

<script>
    export default {
        name: "contents",
        data(){
           return{
               arr:[{
                       title:'设置 header，也可以通过 slot#header 传',
                       customCount:133,
                       times:'2019-02-03',
                       msg:'除了 vue-router，如果如果如果如果你的项目需要用到如果你的项目需要用到如果你的项目需要用到你的项目需要用到你的项目需要用到如果你的项目需要用到如果你的项目需要用到你的项目需要用到 Vuex ，那' +
                           '么你应该对它有一定的了解，Vuex 是一个专为 Vue.js 应用程序开发的状态管理模式。这里我们先来看一下使用 CLI 生成的配置文件 store.js 中的内容'
                   },
                   {
                       title:'设置 header，也可以通过 slot#header 传',
                       customCount:133,
                       times:'2019-02-03',
                       msg:'除了 vue-router，如果你的项如果你的项目需要用到如果你的项目需要用到目需要用到 Vuex ，那么你应该对它有一定的了解，Vuex 是一个专为 Vue.js 应用程序开发的状态管理模式。这里我们先来看一下使用 CLI 生成的配置文件 store.js 中的内容'
                   },
                   {
                       title:'设置 header，也可以通过 slot#header 传',
                       customCount:133,
                       times:'2019-02-03',
                       msg:'除了 vue-router，如果你的项目需要用到 Vuex ，那么你应该对它有一定的了解，Vuex 是一个专为 Vue.js 应用程序开发的状态管理模式。这里我们先来看一下使用 CLI 生成的配置文件 store.js 中的内容'
                   },
                   {
                       title:'设置 header，也可以通过 slot#header 传',
                       customCount:133,
                       times:'2019-02-03',
                       msg:'除了 vue-router，如果你的项如如果你的项目需要用到如果你的项目需要用到果你的项目需要用到如果你的项目需要用到目需要用到 Vuex ，那么你应该对它有一定的了解，Vuex 是一个专为 Vue.js 应用程序开发的状态管理模式。这里我们先来看一下使用 CLI 生成的配置文件 store.js 中的内容'
                   }
               ]
               }
        },
        methods:{
            mes(){
                this.$router.push('./contentPage')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .el-card__body{
        h2{
            display: inline-block;
            text-align: left;
            width: 70%;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
        }
        .push-time{
            display: inline-block;
            margin-left: 20px;
        }
        p{
            text-align: left;
            text-indent: 2rem;
            color: #aaa;
            height: 60px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-size: 14px;
            letter-spacing: 1px;
        }
    }
    .el-card.is-always-shadow{
        margin-bottom: 20px;
        cursor: pointer;
    }
    .el-card.is-always-shadow:hover{
        transform: scale(1.02);
    }
</style>