<template>
    <div class="main">
        <p>{{title}}</p>
    </div>
</template>

<script>
    export default {
        name: "contentPage",
        data(){
            return{
                title:'设置 header，也可以通过 slot#header',
                customCount:'2333',
                times:'2019-02-03',
                mes:'v-highlightv-highlightv-highlightv-highlightv-highlight'
            }
        },
    }
</script>

<style scoped>

</style>