<template>
  <div class="home">
      <el-container style="height: 100%;">
        <!--侧边栏-->
        <el-aside>
          <div class="head-pic">
            <img src="../assets/logo.png" alt="">
            <p>C P 7</p>
          </div>
          <el-row class="tac">
            <el-col :span="12">
              <el-menu
                      default-active="2"
                      class="el-menu-vertical-demo"
                      @open="handleOpen"
                      @close="handleClose">
                <el-submenu index="1">
                  <template slot="title">
                    <span>2017年</span>
                  </template>
                  <el-menu-item-group>
                    <template slot="title">1月</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                  </el-menu-item-group>
                  <el-menu-item-group>
                    <template slot="title">2月</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                  </el-menu-item-group>
                </el-submenu>
              </el-menu>
            </el-col>
          </el-row>
          <el-row class="tac">
            <el-col :span="12">
              <el-menu
                      default-active="2"
                      class="el-menu-vertical-demo"
                      @open="handleOpen"
                      @close="handleClose">
                <el-submenu index="2">
                  <template slot="title">
                    <span>2018年</span>
                  </template>
                  <el-menu-item-group>
                    <template slot="title">1月</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                  </el-menu-item-group>
                  <el-menu-item-group>
                    <template slot="title">2月</template>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                  </el-menu-item-group>
                </el-submenu>
              </el-menu>
            </el-col>
          </el-row>
        </el-aside>
        <el-main>
          <contents></contents>
        </el-main>
      </el-container>
  </div>
</template>

<style lang="scss" scoped>
  .head-pic{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .el-aside{
    border-right: solid 1px #e6e6e6;
  }
.home{
  height: 100%;
}
.el-menu{
  border-right: none;
}
.el-col-12{
  width: 100%;
}
  img{
    width: 150px;
    border-radius: 100px;
  }
</style>
<script>
import contents from './content'
export default {
    components: {contents},
    methods: {
        handleOpen(key, keyPath) {
            console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            console.log(key, keyPath);
        }
    }
}
</script>
