
@charset "UTF-8";

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
ul li {
    line-height: 24px;
}
blockquote {
    border-left:#eee solid 5px;
    padding-left:20px;
}
code ,pre {
    color:#D34B62;
    background: #F9F2F4;
}
#result,#content{
    float: left;
}
h1,h2,h3,h4,h5,h6{
    line-height: 0;
    margin-left: 10px;
}
#result{
    height:90vh;
    width:55vw;
    overflow-y: scroll;
}
pre{
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}